absl-py==0.13.0
asgiref==3.4.1
certifi==2021.5.30
charset-normalizer==2.0.4
cloudpickle==1.6.0
deepdiff==5.5.0
Django==3.2.6
enum34==1.1.10
future==0.18.2
gym==0.19.0
idna==3.2
image==1.5.33
mock==4.0.3
mpyq==0.2.5
numpy==1.21.2
ordered-set==4.0.2
PettingZoo==1.11.2
Pillow==8.3.1
portpicker==1.4.0
protobuf==3.17.3
pygame==2.0.1
PySC2==3.0.0
pytz==2021.1
requests==2.26.0
s2clientprotocol==5.0.7.84643.0
s2protocol==5.0.7.84643.0
scipy==1.7.1
six==1.16.0
sk-video==1.1.10
sqlparse==0.4.1
typing-extensions==3.10.0.0
urllib3==1.26.6
websocket-client==1.2.1
whichcraft==0.6.1
